<h1><%= @user %></h1>
<div class="row row-first row-even">
    Posts: <%= @user.posts.count %>
</div>
<div class="row row-odd">
    Threads: <%= @user.threads.count %>
</div>
<div class="row row-last row-even">
    Admin: <%= @user.admin ? 'Yes' : 'No' %>
</div>