<% @sections.each_with_index do |section, index| %>
    <div class="<%= row_class(index, @sections.count) %>">
        <%= render 'section', section: section %>
    </div>
<% end %>

<% if @current_admin %>
    <p><%= link_to 'New Section', new_section_path %></p>
<% end %>
