/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
}

section {
  margin: 50px 150px 0;
}

.row {
  padding: 20px;
}

.row-even {
  background-color: #ccc;
}

.row-odd {
  background-color: #eee;
}

.row-first {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.row-last {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

textarea {
  width: 1500px;
  height: 150px;
}

#error_explanation,
.field_with_errors {
  background-color: rgb(245, 100, 100);
}

#error_explanation {
  padding: 10px 20px;
  margin: 10px 0;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}
