<h1><%= @thread %></h1>

<div class="thread">
    <% @posts.each do |post| %>
        <%= render 'posts/post', post: post %>
    <% end %>
</div>

<% if @user %>
    <%= link_to 'Reply', new_section_thread_post_path(section_id: @thread.section.id, thread_id: @thread.id) %>
<% end %>