<h1><%= @thread %></h1>

<div class="thread">
    <% @posts.each_with_index do |post, index| %>
        <%= render 'posts/post', post: post, index: index, post_count: @post_count %>
    <% end %>
</div>

<% if @current_user %>
    <%= link_to 'Reply', new_section_thread_post_path(section_id: @thread.section.id, thread_id: @thread.id) %>
<% end %>

<p><%= link_to @thread.section, @thread.section %></p>