<h1><%= @thread %></h1>
<% @posts.each do |post| %>
    <p><%= post.user %></p>
    <p><u><%= post.text %></u></p>
<% end %>

<% if @user %>
    <%= link_to 'Reply', new_section_thread_post_path(section_id: @thread.section.id, thread_id: @thread.id) %>
<% end %>