<ul class="navbar">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Users', users_path %></li>
    <%= render @user ? 'layouts/navbar_logged_in' : 'layouts/navbar_logged_out' %>
</ul>